node_modules
target/
.idea
nbactions.xml
.settings
*.iml
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
/ew.levr.rdf/nbproject/
.idea
.project
.classpath
*/bin/
/bin/
